# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea/
.fleet/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env*.local
.project
.settings

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# jupyter lite
.jupyterlite.doit.db
jupyter-notebooks/
